<!DOCTYPE html>
<html>
<head>
    <title>Submit KYC Documents</title>
</head>
<body>
    <h1>Client Document Upload</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>ID Document:</label><br>
        <input type="file" name="id_doc" required><br><br>

        <label>Selfie:</label><br>
        <input type="file" name="selfie" required><br><br>

        <label>Source of Wealth Document:</label><br>
        <input type="file" name="sow_doc" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
